
@{
    ViewData["Title"] = "Index";
}

<main id="home">
    <section id="mainPhoto">
        <div class="background">
            <div class="image">
                <picture>
                    <source srcset="sources/img/stock-photo-176605205.jpg"
                            media="(max-width: 768px)" />
                    <source srcset="sources/img/abdulaziz-sopranos-JddqEU-oBXM-unsplash.jpg"
                            media="(max-width: 1200px)" />
                    <img src="sources/img/GettyImages-1162987349_75e5c352-9622-401a-9beb-3f5576e880bd-prv.jpg" />
                </picture>
                <div class="overlay"></div>
            </div>
            <div class="backgroundContent d-flex flex-column align-items-center justify-content-center">
                <h2>HOOKAH CATERING</h2>
                <img src="sources/img/Harra_White+HH.png" alt="">
            </div>
        </div>
    </section>
    <section id="cathering-content-details" class="section-common">
        <h2>We offer all-inclusive hookah catering service for all kinds of events</h2>
        <ul>
            <li><span>Birthday Parties</span></li>
            <li><span>Weddings</span></li>
            <li><span>Outdoor and pool parties</span></li>
            <li><span>Private and Social events</span></li>
            <li><span>Corporate and Business gatherings</span></li>
        </ul>
        <hr>
        <p>We bring everything needed including the hookahs, tobacco, charcoal, and mouthpieces to your location. We set up and remain onsite to service the hookahs for the duration of your hookah party.</p>
        <h3>We do all the work, so you can relax, enjoying your party and clouds of smoke with our hookah!</h3>
    </section>
    <section id="cathering-content-packages">
        <div class="title">
            <h1>Select your package</h1>
            <div class="bottom-line"></div>
        </div>
        <div class="packages row">
            <div class="package col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="intro">
                    <div class="title">
                        <h1>Small Party</h1>
                        <div class="bottom-line"></div>
                    </div>
                    <ul>
                        <li><span>3 Hookahs ( 1 glass + 2 Modern or Classic hookahs)</span></li>
                        <li><span>3 Fruit Heads</span></li>
                        <li><span>2 Hours of service</span></li>
                        <li><span>Good for parties up to 15 people.</span></li>
                        <li><span>Served by 1 hookah attendant.</span></li>
                    </ul>
                    <div class="package-bottom">
                        <div class="picing">
                            <h5>Extra hour <strong>$49</strong></h5>
                            <hr>
                            <h5>From <strong>$199</strong></h5>
                        </div>
                        <a href="#" class="call-button">Order</a>
                    </div>
                </div>
            </div>
            <div class="package col-12 col-sm-12  col-md-6 col-lg-4">
                <div class="intro">
                    <div class="title">
                        <h1>Medium Event</h1>
                        <div class="bottom-line"></div>
                    </div>
                    <ul>
                        <li><span>5 Hookahs ( 2 glass + 3 Modern or Classic hookahs)</span></li>
                        <li><span>5 Fruit Heads</span></li>
                        <li><span>4 Hours of service</span></li>
                        <li><span>Good for parties up to 30 people.</span></li>
                        <li><span>Served by 2 hookah attendant.</span></li>
                    </ul>

                    <div class="package-bottom">
                        <div class="picing">
                            <h5>Extra hour <strong>$75</strong></h5>
                            <hr>
                            <h5>From <strong>$299</strong></h5>
                        </div>
                        <a href="#" class="call-button">Order</a>
                    </div>
                </div>
            </div>
            <div class="package col-12 col-sm-12  col-md-6 col-lg-4">
                <div class="intro">
                    <div class="title">
                        <h1>Big Bash</h1>
                        <div class="bottom-line"></div>
                    </div>
                    <ul>
                        <li><span>8 Hookahs ( 4 glass + 4 Modern or Classic hookahs)</span></li>
                        <li><span>8 Fruit Heads</span></li>
                        <li><span>6 Hours of service</span></li>
                        <li><span>Good for parties up to 60 people.</span></li>
                        <li><span>Served by 3 hookah attendant.</span></li>
                    </ul>

                    <div class="package-bottom">
                        <div class="picing">
                            <h5>Extra hour <strong>$99</strong></h5>
                            <hr>
                            <h5>From <strong>$499</strong></h5>
                        </div>
                        <a href="#" class="call-button">Order</a>
                    </div>
                </div>
            </div>
            <!-- <div class="package col-12 col-sm-12 col-md-6 col-lg-4">
               <div class="intro">
                    <div class="title">
                        <h1>Big Bash</h1>
                        <div class="bottom-line"></div>
                    </div>
                    <ul>
                        <li><span>8 Hookahs ( 4 glass + 4 Modern or Classic hookahs)</span></li>
                        <li><span>8 Fruit Heads</span></li>
                        <li><span>6 Hours of service</span></li>
                        <li><span>Good for parties up to 60 people.</span></li>
                        <li><span>Served by 3 hookah attendant.</span></li>
                    </ul>

                    <div class="package-bottom">
                        <div class="picing">
                            <h5>Extra hour <strong>$99</strong></h5>
                            <hr>
                            <h5>From <strong>$499</strong></h5>
                        </div>
                        <a href="#" class="call-button">Order</a>
                    </div>
               </div>
            </div> -->
        </div>
    </section>
    <section id="cathering-content-precess" class=" section-common">
        <div class="title">
            <h1>How it works</h1>
            <div class="bottom-line"></div>
        </div>
        <div class="cathering-content-precess-flow">
            <ul>
                <li class="d-flex align-items-center justify-content-between">
                    <p>
                        Choose the package you’d like to reserve.<br><br>
                        Fill out the form to let us know the date, location, and length of your event, as well as your contacts.
                    </p>
                    <img src="sources/img/order.png" alt="">
                </li>
                <li class="down-icon"><i class="fas fa-long-arrow-alt-down"></i></li>
                <li class="d-flex align-items-center justify-content-between">
                    <p>We send you a quote with an online link to pay a deposit to book your date.</p>
                    <img src="sources/img/bill.png" alt="">
                </li>
                <li class="down-icon"><i class="fas fa-long-arrow-alt-down"></i></li>
                <li class="d-flex align-items-center justify-content-between">
                    <p>On the date of event we arrive one hour before it begins to set up our hookah bar.</p>
                    <img src="sources/img/delivery-truck.png" alt="">
                </li>
                <li class="down-icon"><i class="fas fa-long-arrow-alt-down"></i></li>
                <li class="d-flex align-items-center justify-content-between">
                    <p>During the party, our hookah attendants bring ready-to-smoke hookahs to the tables, change the charcoals, and refill the flavors.</p>
                    <img src="sources/img/hookah.png" alt="">
                </li>
                <li class="down-icon"><i class="fas fa-long-arrow-alt-down"></i></li>
                <li class="d-flex align-items-center justify-content-between">
                    <p>After the party, we wrap up and you pay the balance.</p>
                    <img src="sources/img/pay.png" alt="">
                </li>
            </ul>
        </div>
    </section>
    <section id="cathering-order" class="section-common-nopadding">
        <div class="title">
            <h1>Order</h1>
            <div class="bottom-line"></div>
        </div>
        <div class="order-form">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option value="1">Small Party</option>
                            <option value="2">Medium Event</option>
                            <option value="3">Big Bash</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="name" placeholder="Name*" autocomplete="off">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="tel" class="form-control" id="tel" placeholder="Phone*" autocomplete="off">
                    </div>

                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" id="email" placeholder="Email*" autocomplete="off">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 d-flex align-items-center justify-content-start">
                        <input type="number" maxlength="2" class="form-control" id="month" placeholder="MM" autocomplete="off">
                        <input type="number" maxlength="2" class="form-control" id="day" placeholder="DD" autocomplete="off">
                        <input type="number" maxlength="4" class="form-control" id="year" placeholder="YYYY" autocomplete="off">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="time" class="form-control" id="startTime" placeholder="Start time*" autocomplete="off">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="number" class="form-control" id="hours" placeholder="How many hourse of service*" autocomplete="off">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="address" placeholder="Address*" autocomplete="off">
                    </div>
                    <div class="form-group col-12">
                        <textarea class="form-control" id="additions" name="additions" placeholder="Additions and Preferences" rows="3"></textarea>
                    </div>
                </div>
                <button type="submit" class="call-button">Send</button>
            </form>
        </div>
    </section>
</main>

