@media (max-width: $mobilePhones) {
    nav.desktop-scroll-top{
        display: none;   
       }
}

@media (min-width: $mobilePhones) {
    nav.desktop-scroll-top{
     display: none;   
    }
}

@media (min-width: $tablets) {}

@media (min-width: $laptops) {
    nav.desktop-scroll-top{
        display: block;
        position: fixed;
        z-index: 41;
        top: -50px;
        left: 0;
        width: 100%;
        background-color: $backColor;
        padding: 13px 0px;
        transition: all .4s ease-in-out;
        .content{
            ul{
                width: 45%;
                margin: 0 auto;
                li{
                    a{
                        font-family: 'Rubik Mono One', sans-serif;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 14px;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        text-decoration: none;
                        line-height: 1em;
                        color: rgba(255,255,255,.6);
                        padding: .75em 1em;
                        transition: all .2s ease;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
        }
        &.active{
            top: 0;
        }
    }
}

@media (min-width: $desktops) {}

@media (min-width: $desktopsLarge) {}