@using Hookah.Controllers
@using Hookah.ViewComponents
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="sources/plugins/simplelightbox-master/simple-lightbox.min.css">
    <link rel="stylesheet" href="sources/fonts/fontawesome/all.min.css">
    <link rel="stylesheet" href="~/sources/plugins/sweetealert/sweetealert.css"/>
    <link rel="stylesheet" href="~/css/lib/three-dots.min.css" />
    <link rel="stylesheet" href="sources/css/style.css">
    <link rel="stylesheet" href="~/assets/css/site.css"/>
    @await RenderSectionAsync("Styles", false)
</head>
<body>
    @await Component.InvokeAsync(nameof(HeaderFront))
    @RenderBody()
    @await Component.InvokeAsync(nameof(Footer))
    <div class="error-alerts">

    </div>
    @* <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    *@
    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/sources/plugins/simplelightbox-master/simple-lightbox.jquery.min.js"></script>
    <script src="~/js/helper.js"></script>
    <script src="~/sources/js/scripts.js"></script>

    <script>
        $(document).ajaxError(function (a, error) {
            //util.loader(false);
            $(".alert-custom.hide").remove();
            if (typeof error.responseJSON === 'undefined') {
                @*  if (error.status == 403) {
                    window.location.href = "@Url.Action(nameof(HomeController.NotAuthorize),HomeController.Name,new { Area="" })";
                }*@
                }
            else {
                var messages = error.responseJSON;
                console.error(messages);
                for (var i = 0; i < messages.length; i++) {
                    var randormId = util.guidGenerate();
                    console.log(randormId);
                    $(".error-alerts").append(`<div id="${randormId}" class="alert alert-custom alert-notice alert-light-danger fade mb-2" data-delay="4000" role="alert"><div class= "alert-icon"><i class="flaticon-warning"></i></div><div class="alert-text">${messages[i]}</div><div class="alert-close"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button></div></div>`);
                    $(`#${randormId}`).toast("show");
                }


                @* if ($(".error-div").length > 0)
                    $(".error-div").html("<br /><div class=\"alert alert-danger\">" + messages[0] + "</div>");

                $.each(messages, function (key, value) {
                    toastr.error(value);
                });*@
                }
        });
    </script>
    @await RenderSectionAsync("Scripts", false)
</body>
</html>