
@{
    ViewData["Title"] = "Index";
}

<main id="home">
    <section id="mainPhoto">
        <div class="background">
            <div class="image">
                <picture>
                    <source srcset="sources/img/stock-photo-176605205.jpg"
                            media="(max-width: 768px)" />
                    <source srcset="sources/img/abdulaziz-sopranos-JddqEU-oBXM-unsplash.jpg"
                            media="(max-width: 1200px)" />
                    <img src="sources/img/GettyImages-1162987349_75e5c352-9622-401a-9beb-3f5576e880bd-prv.jpg" />
                </picture>
                <div class="overlay"></div>
            </div>
            <div class="backgroundContent d-flex flex-column align-items-center justify-content-center">
                <h2>HOOKAH FAQ</h2>
                <img src="sources/img/Harra_White+HH.png" alt="">
            </div>
        </div>
    </section>
    <section id="faq-questions" class="section-common">
        <div class="faq-item">
            <h2>How does it work?</h2>
            <p>
                We deliver to you all the necessary equipment to start the shisha, that includes: shisha, tobacco head,
                charcoal, electrical/gas charcoal burner, clamp, hose, tips. All you need to do is to light the charcoal and place them on the head.
                If you are new to shisha, the person who will deliver will give you instructions. We pick up the next day.
            </p>
        </div>
        <div class="faq-item">
            <h2>What’s the average delivery time?</h2>
            <p>We are open from 18:30 till 23:30. Delivery time is around 45 minutes.  This can be less or more depending on the time you order. We advise to pre-book your shisha in advance in order to have it at the time you want.</p>
        </div>
        <div class="faq-item">
            <h2>Returns and Refunds </h2>
            <p>We have a wide range of flavours and we know that everyone’s taste is different.  We cannot issue any refunds or returns.  For this reason we suggest if you are not an experienced smoker please ask our sales persons at the time of ordering for our top recommended flavor mixes.  Just say if you want it, strong, sweet, summery, wintery or light for a beginner. We guarantee you will enjoy our shisha to the maximum.</p>
        </div>
    </section>
</main>

