@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<main id="home">
    <section id="mainPhoto">
        <div class="background">
            <div class="image">
                <picture>
                    <source srcset="sources/img/@Model.ImageMB"
                            media="(max-width: 768px)" />
                    <source srcset="sources/img/@Model.ImageLP"
                            media="(max-width: 1200px)" />
                    <img src="sources/img/@Model.ImagePL" />
                </picture>
                <div class="overlay"></div>
            </div>
            <div class="backgroundContent d-flex flex-column align-items-center justify-content-center">
                <h2>@Model.ImageTitle</h2>
                <img src="sources/img/Harra_White+HH.png" alt="">
            </div>
        </div>
    </section>
    <section id="experience">
        <div class="section-common">
            <div class="experience-top ">
                <p>
                    @Model.ParagraphText
                </p>
                <a href="tel:+994553246307" class="call-button">@Model.CallButtonText</a>
            </div>
            <div class="experience-gallary">
                @foreach (var item in Model)
                {

                }
                <div class="experience-gallary-item">
                    <div class="experience-gallary-item-img">
                        <img src="sources/img/cedaen-aran-VwF0tT5mCTw-unsplash.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="experience-gallary-item-content d-flex flex-column justify-content-center align-items-center">
                        <h1>HOOKAH Menu</h1>
                        <a href="#" class="call-button">Learn more</a>
                    </div>
                </div>
                <div class="experience-gallary-item">
                    <div class="experience-gallary-item-img">
                        <img src="sources/img/experience2.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="experience-gallary-item-content d-flex flex-column justify-content-center align-items-center">
                        <h1>HOOKAH Cathering</h1>
                        <a href="#" class="call-button">Learn more</a>
                    </div>
                </div>
                <div class="experience-gallary-item">
                    <div class="experience-gallary-item-img">
                        <img src="sources/img/experience3.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="experience-gallary-item-content d-flex flex-column justify-content-center align-items-center">
                        <h1>HOOKAH Contact</h1>
                        <a href="#" class="call-button">Learn more</a>
                    </div>
                </div>
            </div>
        </div>


    </section>
</main>